@model DigiPOSE.Models.Manufacturer
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-industry text-cyan me-2"></i> MANUFACTURER DETAILS</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <table class="table-cyber" style="font-family:'Roboto Mono'; font-size:0.9rem;">
            <tr><td style="color:#00E5FF; width:35%;">MFGR ID</td><td>@Model.ManufacturerId</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">NAME</td><td>@Model.ManufacturerName</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">LOGO URL</td><td>@Model.LogoUrl</td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cyber-primary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-1"></i> CLOSE</button>
    </div>
</div>
