@model DigiPOSE.Models.TaxType
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-percent text-cyan me-2"></i> TAXTYPE DETAILS</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <table class="table-cyber" style="font-family:'Roboto Mono'; font-size:0.9rem;">
            <tr><td style="color:#00E5FF; width:35%;">TAX TYPE ID</td><td>@Model.TaxTypeId</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">TAX NAME</td><td>@Model.TaxName</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">PERCENTAGE</td><td>@Model.TaxPercentage</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">XML CODE</td><td>@Model.TaxXmlCode</td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cyber-primary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-1"></i> CLOSE</button>
    </div>
</div>
